.Text {
    color: #fdfdfd;
    background-color:#FF8A08;
    border-radius: 0.7rem; /* Hace que el fondo tenga bordes redondeados */
    padding-top: 0.12rem;
    padding-bottom: 0.12rem;
    padding-left: 0.12rem;
    padding-right: 0.12rem;
    box-shadow: 0 0 10px rgba(103, 179, 119, 0.2);
    font-size: 1.1rem;
  }
  