/* Estilos del Modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 1rem;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    padding: var(--padding);
    width: var(--modal-width);
    height: auto;
    max-height: var(--modal-max-height);
    display: flex;
    flex-direction: column;  /* Añadir para permitir el centrado de los elementos */
    align-items: center;     /* Centrado horizontal */
    justify-content: center; /* Centrado vertical */
}

.container_modal_component button {
    background-color: #0053b2;
    color: #fff;
    cursor: pointer;
    border-radius: 0.8rem;
    width: 14rem;
    height: 3rem;
    border: none;
    font-size: small;
 
  }
/* Contenedor del Formulario dentro del Modal */
.container_input_form {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center; /* Centrar los elementos dentro de la cuadrícula */
}

.form
{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}